src/main/mule/h2-db-script.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<db:config name="Database_Config" doc:name="Database Config" doc:id="436e060e-30fe-4030-bfc8-54e47a7403d2" >
		<db:generic-connection url="jdbc:h2:file:/Users/pavannagineni/Work/workspaces/h2Test" driverClassName="org.h2.Driver" />
	</db:config>
	
	<flow name="h2-db-scriptFlow" doc:id="50c4bfb8-0959-48a9-aa06-be7af31a1793" >
		<scheduler doc:name="Scheduler" doc:id="376dd135-a119-4ca1-8595-249d738ca7f6" >
			<scheduling-strategy >
				<fixed-frequency frequency="10000" timeUnit="DAYS" startDelay="10000"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Start Logger" doc:id="cafbd239-3e50-415a-a614-bc2c9492ceff" message='#["========== Starting the H2 Script run as part of the database readiness activity ============"]'/>
		<db:execute-ddl doc:name="Execute DDL" doc:id="fb434123-d1f2-4e45-b0c4-14db66188d8a" config-ref="Database_Config">
			<db:sql ><![CDATA[CREATE TABLE IF NOT EXISTS employees (
   emp_id BIGINT GENERATED BY DEFAULT AS IDENTITY (START WITH 101100)  ,
   first_name VARCHAR(50) ,
   last_name VARCHAR(50) , 
   email VARCHAR(50) 
)]]></db:sql>
		</db:execute-ddl>
		<db:insert doc:name="Insert" doc:id="d6c93453-764d-4d61-a882-888cb08f01bc" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO employees(first_name, last_name, email) values('Eva', 'Max', 'eva.max@devoteam.com');
INSERT INTO employees(first_name, last_name, email) values('Eon', 'Morgan', 'eon.morgan@devoteam.com');
INSERT INTO employees(first_name, last_name, email) values('AB', 'Devilliers', 'ab.d@devoteam.com');
INSERT INTO employees(first_name, last_name, email) values('John', 'Thompson', 'john.thompson@devoteam.com');
COMMIT;]]></db:sql>
		</db:insert>
		<db:select doc:name="Select" doc:id="486ac7b3-9416-4869-90fe-181b938c965d" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * from employees]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="afb52184-8278-4dc6-a6ec-13c5cfaacac1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.4
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="923fd1c5-88bd-4290-bc85-b8bb5e77e78b" message="#[payload]"/>
		<logger level="INFO" doc:name="Finish Logger" doc:id="b794aabc-c07c-4fb9-b586-7e9ca7ff08af" message='#["========== Completed the H2 Script run as part of the database readiness activity ============"]' />
	</flow>
</mule>
